* {
	margin:0;
	padding:0;}
	a{
		text-decoration:none;
	}
	body{background-color:#f9f9fb;}
/*HEADER*/
.line{
	width:100%;
	height:5px;
    background-color:#40babd;}
.header_bottom{
	height:300px;   
	background-color:#494d55;
	width:100%;}
  .header_bottom_content{
	  text-align:center;}
  .top_text{
	  margin-bottom:15px;
	  font-size:20px;}
  .color{
	  	  display: inline-block;}
   #color1{         
	  color:#40babd;}
   #color2{
	  color:#e4e4e5;}
   .header_text{
	   position:absolute;
	   padding-left:50%;
	  color:#e4e4e5;}
	  #top_heart{
	  color:#ea5395;
	  display:inline-block;
	  width:20px;
	  height:20px;}
	  #text{
		  font-size:24px;
		  
	  }

	  /*HEADER*/
	  /*CONTENT*/
	  .content_text{
		  text-align:center;
		  padding-top:75px;
		  color:#494d55;}
		  .content_text_bottom{
				margin-top:15px;
				font-size:17px;}
            .content{
	     height:850px;}
		 .download_button{
		  position:absolute;
		  left:45%;
          margin-top:30px;}
		  .download_button_style{
			  border:3px solid #40babd;
			  text-decoration:none;
			  display:block;
			  width:150px;
			  height:30px;
			  text-align:center;
			  line-height:30px;
			  background-color:#40babd;
			  color:white;
		      opacity:0.9;
			  border-radius:5px;
			  padding-left:10px;}
			  .download_button_style:hover{
				  opacity:1.0;}
				  .logo_2{
					   display:block; 
				       background-color:#40babd;
					   width:20px;
					   position:absolute;
					   left:5%;
					   top:20%;}
					   
.row1{
	margin-top:150px;}				   
.blocks{
    
	width:830px;
	margin-left:auto;
	margin-right:auto;
	}		
.blocks::after{
    clear:both;
	content:"";
	display:table;	}	
	.block_pervew{
		text-align:center;
		margin-top:10px;
		color:#616670;
		font-size:16px;
		padding:10px;}
 .col_6{
	display:inline-block;
	height:237px;
	width:256px;
	margin-right:30px;
	float:left;
	background-color:white;
	overflow: hidden;}
	.center_link  {
		margin-top:5px;}
	 .col_6:last-child{
		 margin-right:0px;}
		 .icon_block{
			 height:36px;
			 width:36px;
			 margin-left:43%;
			 margin-top:20%;
			 overflow:hidden;}
			 .blocks_links{
			  text-decoration:none;
			  display:block;
			  text-align:center;
			  height:100%;
			  width:100%;
			  overflow: hidden;
			  color:#616670;}
			  #block_green{
				  border-top:3px solid #75c181;}
			  #block_pink{
				  border-top:3px solid #ea5395;}
		      #block_blue{
				  border-top:3px solid #58bbee;}
				  #block_purpule{
				  border-top:3px solid #8a40a7;}
				  #block_sky{
				  border-top:3px solid #40babd;}
				  #block_orange{
				  border-top:3px solid #f88c30;}
				  #green:hover{color:#75c181;}
				  #pink:hover{color:#ea5395;}
				  #blue:hover{color:#58bbee;}
				  #purpule:hover{color:#8a40a7;}
				  #sky:hover{color:#40babd;}
				  #orange:hover{color:#f88c30;}
       .row2{

           padding-top:270px;}
		   
footer{
    height:55px;
	width:100%;
	background-color:#26282c;
	margin-top:70px;}
	 .footer_text{
		 text-align:center;
		 font-size:16px;
		 padding-top:20px;
		 color:#a8a9aa;}
		  #footer_link{
			  color:#40babd;
	          text-decoration:underline #40babd;}

				  
					    
	
	
